body{
    background-color:black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
#container{
    color:rgb(255, 255, 255);
    

}
.digit{
    font-size: 150px;
    font-weight: bold;

}
.txt{
    font-size: 40px;
    font-weight: bold;
}
#btn-container{
    text-align:center;
    margin-top: 40px;
}
.btn{
    padding: 7px 25px;
    font-size: 15px;
    margin: 0px 10px;
    color: white;
    border: 2px dotted white;
    border-radius: 80px;
    cursor:pointer;

}
#start{
    background-color:green;

}
#stop{
    background-color:red;
    
}
#reset{
    background-color:yellow;
    
}
#lap{
    background-color: blue;
}

#lap0{
    font-size: large;
    font-weight: bolder;
    border: 1 px dotted wheat;
    text-align: center;
}

#lap1{
    font-size: large;
    font-weight: bolder;
    border: 1 px dotted wheat;
    text-align: center;
}

#lap2{
    font-size: large;
    font-weight: bolder;
    border: 1 px dotted wheat;
    text-align: center;
}

#lap3{
    font-size: large;
    font-weight: bolder;
    border: 1 px dotted wheat;
    text-align: center;
}


/* ---------------------------------------------------------------------------------------------------------- */
li{
    color:white;
    font-size: large;
}

.lapreading{
    /* display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; */
    /* margin-top: 550px;
    margin-left: 0px;
    margin-right: 20px; */
    color: rgb(255, 255, 255);


}
/* ---------------------------------------------------------------------------------- */
body {
    font-family: "Lato", sans-serif;
    background-color: black;
    color: white;
  }
  
  .sidenav {
    height: 100%;
    margin-left: 0px;
    margin-right: 500px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-left: 1100px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  a{
    background-color: black;
    /* color: azure; */
  }
  a:hover{
    color:rgb(0, 0, 0);
    /* background-color: rgb(255, 255, 255); */
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .bttn{
    margin-right: 0%;
    margin-left: 1125px;
    font-size:30px;
    cursor:pointer;
  }